.adminCreateUserCss {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* row-gap: 30px; */
}

.adminCreateUserCss h2 {
  margin-top: 0px;
}

.adminCreateNewUserForm {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  margin-top: 0px;
  row-gap: 10px;
}

.adminCreateNewUserForm p {
  font-size: 13.5px;
  text-align: center;
  margin: 0px;
  margin-bottom: -22.5px;
  color: #d3302f;
}

#createUserAlertId {
  margin-top: -2%;
}
